body{
    font-family: "Zen Maru Gothic", serif;
}
button{
    font-family: "Zen Maru Gothic", serif;
}
input{
    font-family: "Zen Maru Gothic", serif;

}
.m0{
    margin: 0px;
}
.cont{

    position: relative;
    top: 100px;
    margin-left: 5%;
    margin-right: 5%;

}